@model SotDLCharGen.Models.CharTrait

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CharTrait</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CharTraitValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharTraitValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Character)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.CharacterName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trait)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trait.TraitId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CharTraitId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
