@model SotDLCharGen.Models.CharTrait

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CharTrait</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CharTraitValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharTraitValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Character)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.CharacterName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trait)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trait.TraitId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CharcTraitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
