@model SotDLCharGen.ViewModels.ApplicationUserViewModel
    @{
    ViewData["Title"] = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>My Characters</h2>
    <p>
        <a asp-controller="Characters" asp-action="Create">Create A New Character</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CharacterName)
                </th>              
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Characters) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CharacterName)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Characters" asp-route-id="@item.CharacterId">Edit</a> |
                    <a asp-action="Details" asp-controller="Characters" asp-route-id="@item.CharacterId">Details</a> |
                    <a asp-action="Delete" asp-controller="Characters" asp-route-id="@item.CharacterId">Delete</a>
                </td>
            </tr>
}
        </tbody>
    </table>
