@model SotDLCharGen.ViewModels.HumanDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Character.CharacterName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.CharacterName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Character.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Character.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Character.Ancestry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.Ancestry.AncestryName)
        </dd>
        @*Strength*@
        <dt>
            @Html.DisplayFor(model => model.Character.CharTraits.ElementAt(0).Trait.TraitName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.CharTraits.ElementAt(0).CharTraitValue)
        </dd>
        @*Agility*@
        <dt>
            @Html.DisplayFor(model => model.Character.CharTraits.ElementAt(1).Trait.TraitName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.CharTraits.ElementAt(1).CharTraitValue)
        </dd>
        @*Intellect*@
        <dt>
            @Html.DisplayFor(model => model.Character.CharTraits.ElementAt(2).Trait.TraitName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.CharTraits.ElementAt(2).CharTraitValue)
        </dd>
        @*Will*@
        <dt>
            @Html.DisplayFor(model => model.Character.CharTraits.ElementAt(3).Trait.TraitName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.CharTraits.ElementAt(3).CharTraitValue)
        </dd>

        @*Hitpoints = strength for human*@
        <dt>
            Hit Points
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.CharTraits.ElementAt(0).CharTraitValue)
        </dd>

        @*Healing rate = 1/4 hitpoints rounded down*@
        <dt>
            Healing Rate
        </dt>
        <dd>
            @Html.DisplayFor(model => model.healingRate)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Character.CharacterId">Edit</a> |
    <a asp-controller="ApplicationUser" asp-action="UserHome">Back to List</a>
</div>
