@model SotDLCharGen.Models.AncestryBaseTrait

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AncestryBaseTrait</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaseValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ancestry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ancestry.AncestryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trait)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trait.TraitId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AncestryBaseTraitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
