@model IEnumerable<SotDLCharGen.Models.AncestryBaseTrait>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BaseValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ancestry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trait)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BaseValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ancestry.AncestryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trait.TraitId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AncestryBaseTraitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AncestryBaseTraitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AncestryBaseTraitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
